doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/fire.css")
  body
    .container
      canvas#stage(width=600, height=300)
    footer
      p Powered by Molybdenum and 💜
      p &copy; #{new Date().getUTCFullYear()} Caleb King.

  script(type="module", src="js/index.js")
